/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold tap";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    macros {
        playswitch: playswitch {
            compatible = "zmk,behavior-macro";
            label = "PLAYSWITCH";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F11))>;
        };
        recswitch: recswitch {
            compatible = "zmk,behavior-macro";
            label = "RECSWITCH";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F7))>;
        };
        recmute: recmute {
            compatible = "zmk,behavior-macro";
            label = "RECMUTE";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(M))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |   BKSP    |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |    '      |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT(RET) |
            //                         | ALT | LWR | SPC | RSE  | ALT |

            bindings = <
      &kp ESCAPE  &ht KP_NUMBER_1 Q  &ht KP_NUMBER_2 W    &ht KP_NUMBER_3 F  &ht KP_NUMBER_4 P  &ht KP_NUMBER_5 D                    &ht KP_NUMBER_6 J  &ht KP_NUMBER_7 L       &ht KP_NUMBER_8 U        &ht KP_NUMBER_9 Y  &ht KP_NUMBER_0 SEMICOLON  &kp BSPC
 &ht LA(TAB) TAB      &ht AT_SIGN A         &ht HASH R       &ht QUESTION S         &ht EXCL T     &ht KP_MINUS G                           &ht PLUS H        &ht EQUAL N  &ht LEFT_PARENTHESIS E  &ht RIGHT_PARENTHESIS I              &ht PERCENT O   &kp SQT
&kp LA(LEFT_GUI)   &ht UNDERSCORE Z       &ht DOLLAR X  &ht DOUBLE_QUOTES C   &ht APOSTROPHE V        &ht COLON B                      &ht SEMICOLON K    &ht BACKSLASH M               &kp COMMA                  &kp DOT                   &kp FSLH     &mo 4
                                                                      &mo 2        &lt 3 SPACE                     &kp LEFT_CONTROL                        &kp LEFT_SHIFT            &kp LEFT_ALT
            >;
        };

        gaming {
            bindings = <
          &kp ESC  &kp Q  &kp W   &kp F        &kp P  &kp D             &kp J      &kp L      &kp U    &kp Y  &kp SEMI  &kp BSPC
&ht LA(LC(M)) TAB  &kp A  &kp R   &kp S        &kp T  &kp G             &kp H      &kp N      &kp E    &kp I     &kp O   &kp SQT
      &playswitch  &kp Z  &kp X   &kp C        &kp V  &kp B             &kp K      &kp M  &kp COMMA  &kp DOT  &kp FSLH    &trans
                                 &tog 0  &lt 3 SPACE         &kp LCTRL         &kp LSHFT   &kp RALT
            >;

            label = "Gaming Layout";
        };

        lower_layer {
            // ------------------------------------------------------------------------------------
            // |    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      DEL    |
            // |    |  _  |  +  |  {  |  }  | "|" |   | LFT | DWN |  UP | RGT |  `  |       ~     |
            // |    | ESC | GUI | ALT | CAPS|  "  |   | HOME| END | PGUP| PGDN| PRSC| SHFT(SPACE) |
            //                       |     |     | RET | ADJ |     |

            bindings = <
&kp LA(LC(DELETE))    &kp LG(E)    &playswitch  &kp LC(LS(E))     &kp LC(LS(I))  &kp LC(LG(ESCAPE))               &kp CARET            &kp AMPS    &kp PAGE_UP  &recmute    &playswitch              &kp DEL
            &trans  &kp AT_SIGN  &kp AMPERSAND   &kp QUESTION          &kp EXCL            &kp PIPE            &kp LS(LEFT)  &kp LC(LEFT_ARROW)       &kp HOME   &kp END  &kp LC(RIGHT)  &kp LS(RIGHT_ARROW)
            &trans    &kp TILDE      &kp UNDER  &kp BACKSLASH  &kp LEFT_BRACKET   &kp RIGHT_BRACKET          &kp LEFT_BRACE     &kp RIGHT_BRACE  &kp PAGE_DOWN   &kp INS      &kp PSCRN               &trans
                                                       &trans            &trans                      &trans                           &kp ENTER         &trans
            >;
        };

        numpad {
            // ----------------------------------------------------------------------------
            // |    |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL |
            // |    |  -  |  =  |  [  |  ]  |  \  |   | F1  | F2  | F3  | F4  | F5  | F6  |
            // |    | ESC | GUI | ALT | CAPS|  "  |   | F7  | F8  | F9  | F10 | F11 | F12 |
            //                       |     | ADJ | BKSP |    |     |

            bindings = <
       &kp K_MUTE    &kp PAGE_UP  &kp KP_EQUAL         &kp UP   &kp KP_MINUS   &kp DOLLAR              &kp KP_MULTIPLY  &ht F7 KP_NUMBER_7  &ht F8 KP_NUMBER_8  &ht F9 KP_NUMBER_9  &kp KP_MINUS  &kp BACKSPACE
  &kp C_VOLUME_UP        &kp TAB      &kp LEFT       &kp DOWN      &kp RIGHT    &kp POUND                &kp KP_DIVIDE  &ht F4 KP_NUMBER_4  &ht F5 KP_NUMBER_5  &ht F6 KP_NUMBER_6   &kp KP_PLUS     &kp DELETE
&kp C_VOLUME_DOWN  &kp PAGE_DOWN  &kp LG(LEFT)  &kp LS(LG(S))  &kp LG(RIGHT)  &kp PERCENT          &ht F10 KP_NUMBER_0  &ht F1 KP_NUMBER_1  &ht F2 KP_NUMBER_2  &ht F3 KP_NUMBER_3    &kp KP_DOT         &trans
                                                       &trans         &trans               &trans                                &kp ENTER     &kp LOCKING_NUM
            >;

            label = "number pad";
        };

        adjust_layer {
            // -----------------------------------------------------------------------------------------
            // | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | RGB TOG |   |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
            // | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- |    |         |   |       |     |     |     |     |        |
            // |          |          |          |          |    |         |   | RESET |     |     |     |     |        |
            //                                              |     |     |     |     |     |

            bindings = <
     &kp ESCAPE           &kp F1           &kp F2           &kp F3      &kp F4  &kp F5                &kp F6           &kp F7        &kp F8        &kp F9       &kp F10  &kp DELETE
&rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_EFR  &sys_reset   &none          &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
          &none            &none            &none            &none      &tog 1   &none              &kp CAPS  &kp LOCKING_NUM         &none         &none         &none      &trans
                                                            &tog 0      &tog 2          &tog 3                         &tog 4         &none
            >;
        };
    };
};
